.container {
    margin: 2rem auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form div {
    display: flex;
    justify-content: space-between;
}
form label {
    font-size: larger;
    font-weight: 600;
}
form input {
    width: 70%;
    border: none;
    background-color: rgb(240, 223, 255);
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    font-size: large;
}
form button {
    width: 30%;
    padding: 0.75rem;
    margin-top: 1.5rem;
    align-self: center;
    font-size: large;
    font-weight: 500;
    border: none;
    color: white;
    border-radius: 0.75rem;
    background-color: gray;
}
.active button {
    background-color: blue;
    cursor: pointer;
    box-shadow: 0rem 0rem 0.7rem hsla(0, 0%, 0%, 0.3);
}
.active button:hover {
    box-shadow: 0rem 0rem 0.3rem hsla(0, 0%, 0%, 0.3);
    transform: scale(0.99);
}

.not__active input {
    background-color: rgb(247, 165, 165);
}
