.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: blueviolet;
    height: 6rem;
}
.btns {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn {
    color: white;
    font-size: large;
    font-weight: 700;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
}
.link_btn {
    background-color: palevioletred;
    box-shadow: 0rem 0rem 0.5rem hsla(0, 0%, 0%, 0.3);
    padding: 0.25rem 1rem;
    border-radius: 99999px;
}
.link_btn:hover {
    transform: scale(0.99);
    box-shadow: 0rem 0rem 0.2rem hsla(0, 0%, 0%, 0.3);
}
